.aboutPage {
  word-wrap: break-word;
  h1 {
    color: #333;
  }
  h2 {
    font-size: var(--fontSize-4);
    color: #333;
    margin: 10px 0;
  }
  h3 {
    font-size: var(--fontSize-2);
    font-weight: var(--fontWeight-medium);
    color: #333;
    margin: 16px 0 10px;
    font-size: 1.2em;
  }
  p {
    // line-height: 1.5;
  }
}
